/Bai1_2/nbproject/private/
/Bai1_2/build/
/2/nbproject/private/
/2/build/
/Bai3/nbproject/private/
/Bai3/build/
/bai4/nbproject/private/
/bai4/build/
/Bai5/nbproject/private/
/Bai5/build/
/Bai6/nbproject/private/
/Bai6/build/
/Bai7/nbproject/private/
/Bai7/build/
/Bai8/nbproject/private/
/Bai8/build/
/Bai9/nbproject/private/
/Bai9/build/